Options -MultiViews
RewriteEngine On
RewriteBase /

RewriteRule ^portfolio-assets/ - [L]
RewriteRule ^vite\.svg$ - [L]
RewriteRule ^sitemap\.xml$ - [L]
RewriteRule ^robots\.txt$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
